################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/fa_api/.vs
/fa_api/bin/Debug/netcoreapp3.1
/fa_api/obj
